{{ username }}, Welcome to Uper!

<!DOCTYPE html>
<html>
<head> 
  <meta charset="utf-8"> 
  <title>Uper User main_page</title> 
</head>

<body>
  <form action="{% url 'uper:logout'  %}" method="post">
    {% csrf_token %}
    <input type="submit" value="logout" />
  </form>
  <a href="{% url 'uper:driver_register' %}">driver_register</a> <br/>
  <a href="{% url 'uper:view_info' %}">view_info</a> <br/>
  <a href="{% url 'uper:edit_driver' %}">edit_driver</a> <br/>
  <a href="{% url 'uper:request_ride' %}">request a ride</a><br/>
  <a href="{% url 'uper:share_ride_search' %}">search share ride</a><br/>

All Active Rides: <br />
{% if ride_list_as_owner %}
    <ul>
    {% for ride in ride_list_as_owner %}
    <li>state: {{ ride.state }}</li>
    <li>arrival date and time: {{ ride.arrival_datetime }}</li>
    <li>destination: {{ ride.destination }}</li>
    <li>ride can be shared? {{ ride.can_share }}</li>
    <li>other information: {{ ride.other_info }}</li>
    <li>required vehicle type: {{ ride.required_vehicle_type }}</li>
    <li> total rider number: {{ride.total_person_number}} </li>
    <br> <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No active rides are available.</p>
{% endif %}
</body>
</html>

